@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  h1, h2, h3, h4, h5, h6 {
    /* Heading styles */
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  html{
      font-family: 'Roboto', sans-serif;
      line-height: 1.6;
  }

  a {
    /* Anchor styles */
    color: #3182ce;
    text-decoration: none;
  }
}
